<h3> Flash messages in Express 4 </h3>
<p><a href="http://localhost:3000/express-flash">Click here</a> for a flash message using the express-flash module.</p>
<p><a href="http://localhost:3000/session-flash">Click here</a> for a flash message using custom middleware</p>
<p>Refresh to clear the flash message.</p>

<% if ( expressFlash.length > 0 ) { %>
<p><strong>FLASH!</strong> <%= expressFlash %></p>
<% } %>

<% if ( sessionFlash && sessionFlash.message) { %>
<div class="<%= sessionFlash.type %>">
	<strong>FLASH!</strong> <%= sessionFlash.message %>
</div>
<% } %>