{% extends "layouts/default.html" %}
{% block content %}
   <!-- page content -->
        <div class="right_col" role="main">
		 <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Edit  Cargo</h2>
					<a href="/cargos/index" class="btn btn-primary align-right"> All Cargos<i class="icon-plus icon-white"></i></a>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					   {% if errordata %}
						{% for item in errordata %}
		  <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Error ! </strong>{{item.msg}}
                  </div>
				  	{% endfor %}	
				 {% endif %}
                    <br />
                    <form id="add-country" method="post" class="form-horizontal  form-label-left">
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<input type="hidden" name="record_id" id="record_id" value="{{formData.cargo_id}}">
					<input type="hidden" name="field_name" id="field_name" value="cargo_id">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product_name-name">Product Name 
						<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="product_name"  value="{{formData.product_name}}" id="product_name" placeholder="Enter Product Name" class="form-control col-md-7 col-xs-12 validate[required,minSize[3],ajax[ajaxCheckUniqueName]]">
                        </div>
                      </div>
					     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product_name-name">Product Code 
						<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="product_code"  value="{{formData.product_code}}" id="product_code" placeholder="Enter Product Code" class="form-control col-md-7 col-xs-12 validate[required,ajax[ajaxCheckUniqueName]]">
                        </div>
                      </div>
					  
					    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Status
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
							<select class="form-control" name="status">
							{% for statusitem in Status %}
							<option value="{{loop.index0}}" {% if loop.index0==formData.status %} selected  {% endif %}>{{statusitem}}</option>
							{% endfor %}
							</select>
                          </div>
                      </div>				
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button" onclick="return confirmCancle('Are you sure want to cancel','{{ HOST_URL }}cargos/index');">Cancel</button>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
		 </div>           
        </div>
        <!-- /page content -->
		
{% endblock %}