
    <!-- jQuery -->
    <script src="{{ HOST_URL }}vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ HOST_URL }}vendors/bootstrap/dist/js/bootstrap.min.js"></script>

     {% if (controller) and  (action)%} 
  	<script src="{{ HOST_URL }}vendors/jquery-validation-engine/languages/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8">
	</script>
	<script src="{{ HOST_URL }}vendors/jquery-validation-engine/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ HOST_URL }}vendors/select2/dist/js/select2.full.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ HOST_URL }}vendors/moment/min/moment.min.js"></script>
    <script src="{{ HOST_URL }}vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
 {% else %} 
  	 <!--FastClick-->
	<script src="{{ HOST_URL }}vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="{{ HOST_URL }}vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="{{ HOST_URL }}vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="{{ HOST_URL }}vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ HOST_URL }}vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="{{ HOST_URL }}vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="{{ HOST_URL }}vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="{{ HOST_URL }}vendors/Flot/jquery.flot.js"></script>
    <script src="{{ HOST_URL }}vendors/Flot/jquery.flot.pie.js"></script>
    <script src="{{ HOST_URL }}vendors/Flot/jquery.flot.time.js"></script>
    <script src="{{ HOST_URL }}vendors/Flot/jquery.flot.stack.js"></script>
    <script src="{{ HOST_URL }}vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="{{ HOST_URL }}vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="{{ HOST_URL }}vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="{{ HOST_URL }}vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="{{ HOST_URL }}vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="{{ HOST_URL }}vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="{{ HOST_URL }}vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="{{ HOST_URL }}vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ HOST_URL }}vendors/moment/min/moment.min.js"></script>
    <script src="{{ HOST_URL }}vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
	
  {% endif %}
  <script src="{{ HOST_URL }}js/custom.js" type="text/javascript" charset="utf-8"></script>
  {% if (controller) and  (action)%} 
	<script>
	$(document).ready(function(){
	
	 $(".listing-select2").select2({
  tags: true
});
	// add multiple select / deselect functionality
	$("#selectall").click(function () {
		  $('.records_id').prop('checked', this.checked);
	});

	// if all checkbox are selected, check the selectall checkbox
	// and viceversa
	$(".records_id").click(function(){

		if($(".records_id").length == $(".records_id:checked").length)
		{
			$("#selectall").prop("checked", "checked");
		} else {
			$("#selectall").removeAttr("checked");
		}

	});
		$("#add-user").validationEngine({promptPosition : "topRight:-75"});
		$("#add-country").validationEngine({promptPosition : "topRight:-75"});
	}); 
	$('#bill_date').datetimepicker({
        format: 'YYYY-MM-DD'
    });
	$('.dbcal').datetimepicker({
        format: 'YYYY-MM-DD'
    });
	
	
	
	</script>
	{% endif %}	
  </body>
</html>
