			<div class="navbar nav_title" style="border: 0;">
              <a href="{{ HOST_URL }}" class="site_title"><i class="fa fa-paw"></i> <span>{{LANGMESSAGE.APPNAME}}</span></a>
            </div>

            <div class="clearfix"></div>
			  <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="{{ HOST_URL }}images/img.jpg" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome, </span>
                <h2>{{ SESSIONDATA.first_name }} {{ SESSIONDATA.last_name }}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->
			<br />
			
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>{{LANGMESSAGE.MENUTITLE}}</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="index.html">Dashboard</a></li>
                      <li><a href="index2.html">Dashboard2</a></li>
                      <li><a href="index3.html">Dashboard3</a></li>
                    </ul>
                  </li>
				    <li {% if (controller == 'users') %} class="active" {% endif %}><a><i class="fa fa-users"></i> Users <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-user') and (controller == 'users') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}users/add-user">Add User</a></li>
					  <li {% if (action == 'index') and (controller == 'users') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}users/index">All Users</a></li>         
					 <li {% if (action == 'active') and (controller == 'users') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}users/active">Active Users</a></li>
                      <li {% if (action == 'deactive') and (controller == 'users') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}users/deactive">Deactive Users</a></li>
					  <li {% if (action == 'deleted') and (controller == 'users') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}users/deleted">Deleted Users</a></li>
					 </ul>
                  </li>
				    <li {% if (controller == 'countries') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> Countries <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-country') and (controller == 'countries') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}countries/add-country">Add Country</a></li>
					  <li {% if (action == 'index') and (controller == 'countries') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}countries/index">All countries</a></li>         
					 <li {% if (action == 'active') and (controller == 'countries') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}countries/active">Active countries</a></li>
                      <li {% if (action == 'deactive') and (controller == 'countries') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}countries/deactive">Deactive countries</a></li>
					   </ul>
                  </li>
				  
				  <li {% if (controller == 'states') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> States <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-state') and (controller == 'states') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}states/add-state">Add state</a></li>
					  <li {% if (action == 'index') and (controller == 'states') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}states/index">All states</a></li>         
					 <li {% if (action == 'active') and (controller == 'states') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}states/active">Active states</a></li>
                      <li {% if (action == 'deactive') and (controller == 'states') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}states/deactive">Deactive states</a></li>
					   </ul>
                  </li>
				  
				    <li {% if (controller == 'districts') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> Districts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-district') and (controller == 'districts') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}districts/add-district">Add district</a></li>
					  <li {% if (action == 'index') and (controller == 'districts') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}districts/index">All districts</a></li>         
					 <li {% if (action == 'active') and (controller == 'districts') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}districts/active">Active districts</a></li>
                      <li {% if (action == 'deactive') and (controller == 'districts') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}districts/deactive">Deactive districts</a></li>
					   </ul>
                  </li>
				    
				    <li {% if (controller == 'cities') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> Cities <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-city') and (controller == 'cities') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}cities/add-city">Add City</a></li>
					  <li {% if (action == 'index') and (controller == 'cities') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}cities/index">All cities</a></li>         
					 <li {% if (action == 'active') and (controller == 'cities') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}cities/active">Active Cities</a></li>
                      <li {% if (action == 'deactive') and (controller == 'cities') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}cities/deactive">Deactive Cities</a></li>
					   </ul>
                  </li>
				  
				    <li {% if (controller == 'cargos') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> Cargos/Products <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-cargo') and (controller == 'cargos') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}cargos/add-cargo">Add cargo/Products</a></li>
					  <li {% if (action == 'index') and (controller == 'cargos') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}cargos/index">All cargos/Products</a></li>         
					 <li {% if (action == 'active') and (controller == 'cargos') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}cargos/active">Active cargos/Products</a></li>
                      <li {% if (action == 'deactive') and (controller == 'cargos') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}cargos/deactive">Deactive cargos/Products</a></li>
					   </ul>
                  </li>
				    <li {% if (controller == 'account-groups') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> Account Groups<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-group') and (controller == 'account-groups') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}account-groups/add-group">Add Group</a></li>
					  <li {% if (action == 'index') and (controller == 'account-groups') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}account-groups/index">All Account Groups</a></li>         
					 <li {% if (action == 'active') and (controller == 'account-groups') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}account-groups/active">Active Account Groups</a></li>
                      <li {% if (action == 'deactive') and (controller == 'account-groups') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}account-groups/deactive">Deactive Account Groups</a></li>
					   </ul>
                  </li>
				  
				    <li {% if (controller == 'accounts') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> Accounts<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-account') and (controller == 'accounts') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}accounts/add-account">Add Account</a></li>
					  <li {% if (action == 'index') and (controller == 'accounts') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}accounts/index">All Accounts</a></li>         
					 <li {% if (action == 'active') and (controller == 'accounts') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}accounts/active">Active Accounta</a></li>
                      <li {% if (action == 'deactive') and (controller == 'accounts') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}accounts/deactive">Deactive Accounts</a></li>
					   </ul>
                  </li>
				  
				    <li {% if (controller == 'vehicle-types') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> Vehicle Type<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-type') and (controller == 'vehicle-types') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}vehicle-types/add-type">Add Type</a></li>
					  <li {% if (action == 'index') and (controller == 'vehicle-types') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}vehicle-types/index">All Type</a></li>         
					 <li {% if (action == 'active') and (controller == 'vehicle-types') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}vehicle-types/active">Active Type</a></li>
                      <li {% if (action == 'deactive') and (controller == 'vehicle-types') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}vehicle-types/deactive">Deactive Type</a></li>
					   </ul>
                  </li>
				     <li {% if (controller == 'vehicle') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> Vehicles<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-vechile') and (controller == 'vehicle') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}vehicles/add-vechile">Add Vechile</a></li>
					  <li {% if (action == 'index') and (controller == 'vehicle') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}vehicles/index">All Vechiles</a></li>         
					 <li {% if (action == 'active') and (controller == 'vehicle') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}vehicles/active">Active Vechile</a></li>
                      <li {% if (action == 'deactive') and (controller == 'vehicle') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}vehicles/deactive">Deactive Vechile</a></li>
					   </ul>
                  </li>
				  
				   <li {% if (controller == 'drivers') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i>Driver<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-driver') and (controller == 'drivers') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}drivers/add-driver">Add Driver</a></li>
					  <li {% if (action == 'index') and (controller == 'drivers') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}drivers/index">All Driver</a></li>         
					 <li {% if (action == 'active') and (controller == 'drivers') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}drivers/active">Active Driver</a></li>
                      <li {% if (action == 'deactive') and (controller == 'drivers') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}drivers/deactive">Deactive Driver</a></li>
					   </ul>
                  </li>
				  
				  
				  
				  <li {% if (controller == 'from-destinations') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> From Destinations<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-from-destination') and (controller == 'from-destinations') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}from-destinations/add-from-destination">Add From Destination</a></li>
					  <li {% if (action == 'index') and (controller == 'from-destinations') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}from-destinations/index">All From Destination</a></li>         
					 <li {% if (action == 'active') and (controller == 'from-destinations') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}from-destinations/active">Active From Destination</a></li>
                      <li {% if (action == 'deactive') and (controller == 'from-destinations') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}from-destinations/deactive">Deactive From Destination</a></li>
					   </ul>
                  </li>
				  
				    <li {% if (controller == 'banks') %} class="active" {% endif %}><a><i class="fa fa-sitemap"></i> Banks<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li {% if (action == 'add-bank') and (controller == 'banks') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}banks/add-bank">Add Bank</a></li>
					  <li {% if (action == 'index') and (controller == 'banks') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}banks/index">All Bank</a></li>         
					 <li {% if (action == 'active') and (controller == 'banks') %} class="current-page" {% endif %}  ><a href="{{ HOST_URL }}banks/active">Active Bank</a></li>
                      <li {% if (action == 'deactive') and (controller == 'banks') %} class="current-page" {% endif %} ><a href="{{ HOST_URL }}banks/deactive">Deactive Bank</a></li>
					   </ul>
                  </li>
				  
                  <li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="form.html">General Form</a></li>
                      <li><a href="form_advanced.html">Advanced Components</a></li>
                      <li><a href="form_validation.html">Form Validation</a></li>
                      <li><a href="form_wizards.html">Form Wizard</a></li>
                      <li><a href="form_upload.html">Form Upload</a></li>
                      <li><a href="form_buttons.html">Form Buttons</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="general_elements.html">General Elements</a></li>
                      <li><a href="media_gallery.html">Media Gallery</a></li>
                      <li><a href="typography.html">Typography</a></li>
                      <li><a href="icons.html">Icons</a></li>
                      <li><a href="glyphicons.html">Glyphicons</a></li>
                      <li><a href="widgets.html">Widgets</a></li>
                      <li><a href="invoice.html">Invoice</a></li>
                      <li><a href="inbox.html">Inbox</a></li>
                      <li><a href="calendar.html">Calendar</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="tables.html">Tables</a></li>
                      <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="chartjs.html">Chart JS</a></li>
                      <li><a href="chartjs2.html">Chart JS2</a></li>
                      <li><a href="morisjs.html">Moris JS</a></li>
                      <li><a href="echarts.html">ECharts</a></li>
                      <li><a href="other_charts.html">Other Charts</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-clone"></i>Layouts <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                      <li><a href="fixed_footer.html">Fixed Footer</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="menu_section">
                <h3>Live On</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="e_commerce.html">E-commerce</a></li>
                      <li><a href="projects.html">Projects</a></li>
                      <li><a href="project_detail.html">Project Detail</a></li>
                      <li><a href="contacts.html">Contacts</a></li>
                      <li><a href="profile.html">Profile</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="page_403.html">403 Error</a></li>
                      <li><a href="page_404.html">404 Error</a></li>
                      <li><a href="page_500.html">500 Error</a></li>
                      <li><a href="plain_page.html">Plain Page</a></li>
                      <li><a href="login.html">Login Page</a></li>
                      <li><a href="pricing_tables.html">Pricing Tables</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="#level1_1">Level One</a>
                        <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                          <ul class="nav child_menu">
                            <li class="sub_menu"><a href="level2.html">Level Two</a>
                            </li>
                            <li><a href="#level2_1">Level Two</a>
                            </li>
                            <li><a href="#level2_2">Level Two</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="#level1_2">Level One</a>
                        </li>
                    </ul>
                  </li>                  
                  <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span class="label label-success pull-right">Coming Soon</span></a></li>
                </ul>
              </div>

            </div>
            <!-- /sidebar menu -->