{% extends "layouts/default.html" %}
{% block content %}
   <!-- page content -->
         <div class="right_col" role="main">
		 <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
				<div class="row x_title">
                  <div class="col-md-8">
                    <h3>All users</h3>
                  </div>
                  <div class="col-md-4">
                    <div id="reportrange" class="pull-right">
					<form method='get' action="http://localhost:3000/users/index/">
						 <div class="input-group">
						<input type="text" class="form-control" value="{{QueryStringData.search}}" name="search" placeholder="Search for...">
						<span class="input-group-btn">
						  <button class="btn btn-default" type="submit">Go!</button>
						</span>
					  </div>
				  </form>
                    </div>
                  </div>
                </div>
				<div class="x_content">
				     {% if (messages.success) %}
					<div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Success ! </strong> {{ messages.success }}.
                  </div>
					{% endif %}		  
		
				  
					{% if (messages.error) %}
					<div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Error ! </strong> {{ messages.error }}.
					</div>
					{% endif %}
			  </div>
			 <div id="no-more-tables">
		  <table class="col-md-12 table-bordered table-striped table-condensed cf">
        		<thead class="cf">
        			<tr>
					 <th> <input type="checkbox" id="check-all" class="records_id" value="all"></th>
        				<th>First name</th>
        				<th>Last name</th>
        				<th class="numeric">Email</th>
        				<th class="numeric">Username </th>
						<th class="numeric">Action</th>
        			</tr>
        		</thead>
        		<tbody>
				 {% if results|length %}
					{% for item in results %}
					 <tr>					    
						<td data-title="Status Change">
						<input type="checkbox" class="records_id" name="records_id" value="{{item.id}}"></td>
        				<td data-title="First Name">{{item.first_name}}</td>
						<td data-title="Last Name">{{item.last_name}}</td>
						<td data-title="Email">{{item.email}}</td>
						<td data-title="Username">{{item.username}}</td>	
						<td  data-title="Action" class="numeric">
                              <a class="btn btn-default"><em class="fa fa-pencil"></em></a>
                              <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                        </td>
        			</tr>
					{% endfor %}
					{% else %} 
					 <tr>
					  <td colspan="6" >Records not found.</td>
					 </tr>
				 	{% endif %}  				
        		</tbody>
        	</table>
        </div>  
		{% if results|length %}
			<div class="center-block text-center">{{ pages |safe}} </div>
			{% endif %}  	
	       
				</div>
			 </div>
		</div>
	  </div>
        <!-- /page content -->
	</div>
		
<style>
</style>
{% endblock %}