{% extends "layouts/default.html" %}
{% block content %}
   <!-- page content -->
        <div class="right_col" role="main">
		 <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Add New Type</h2>
					<a href="/vehicle-types/index" class="btn btn-primary align-right"> All Vehicles<i class="icon-plus icon-white"></i></a>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
					   {% if errordata %}
						{% for item in errordata %}
		  <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Error ! </strong>{{item.msg}}
                  </div>
				  	{% endfor %}	
				 {% endif %}
                    <br />
                    <form id="add-country" method="post" class="form-horizontal  form-label-left" 
					action="/vehicle-types/add-type/" >
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group_name-name">Vehicle Type
						<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="vehicle_type"  value="{{formData.vehicle_type}}" id="vehicle_type" placeholder="Enter Vehicle Type" class="form-control col-md-7 col-xs-12 validate[required,ajax[ajaxCheckUniqueName]]">
                        </div>
                      </div>
					  
					     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Status
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
							<select class="form-control" name="status">
							{% for statusitem in Status %}
							<option value="{{loop.index0}}" {% if loop.index0==1 %} selected  {% endif %}>{{statusitem}}</option>
							{% endfor %}
							</select>
                          </div>
                      </div>
					  				
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button class="btn btn-primary" type="button" onclick="return confirmCancle('Are you sure want to cancel','{{ HOST_URL }}vehicle-types/index');">Cancel</button>
						  <button class="btn btn-primary" type="reset">Reset</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
		 </div>           
        </div>
        <!-- /page content -->
		
{% endblock %}