{% extends "layouts/default.html" %}
{% block content %}
   <!-- page content -->
         <div class="right_col" role="main">
		 <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
				<div class="row x_title">
                  <div class="col-md-6">
                    <h3>{{PAGETITLE}}</h3> 
                  </div>
				   <div class="col-md-2">
                    <a href="/drivers/licence/{{driverID}}?page_action=new" class="btn btn-primary"> Add New License<i class="icon-plus icon-white"></i></a>
                  </div>
                  <div class="col-md-4">
                    <div id="reportrange" class="pull-right">
					<form method='get' action="{{ HOST_URL }}drivers/licence/{{driverID}}?page_action=all">
						 <div class="input-group">
						<input type="text" class="form-control" value="{{QueryStringData.search}}" name="search" placeholder="Search for License name,License no,issue date,expire date ....">
					    <input type="hidden" class="form-control" value="all" name="page_action">
					    
						<span class="input-group-btn">
						  <button class="btn btn-default" type="submit">Go!</button>
						</span>
					  </div>
					  </form>
                    </div>
                  </div>
                </div>
				<div class="x_content">
				     {% if (messages.success) %}
					<div class="alert alert-success alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Success ! </strong> {{ messages.success }}.
                  </div>
					{% endif %}		  
		
				  
					{% if (messages.error) %}
					<div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Error ! </strong> {{ messages.error }}.
					</div>
					{% endif %}
					{% if QueryStringData.orderType=='desc' %}
					  {% set sortType = 'asc' %}
					  {% set className = 'up' %}
					  {% else %}			
					  {% set sortType = 'desc' %}
					  {% set className = 'down' %}					  
					  {% endif %}				
			  </div>
			  <div id="no-more-tables">
		      <table class="col-md-12  col-sm-12 col-xs-12 table-bordered table-striped table-condensed cf">
        		<thead class="cf">
        			<tr>
					    <th class="numeric"> 
						<input type="checkbox" id="selectall" value="all">
						</th>
						<th class="numeric">
						<a href="{{ HOST_URL }}drivers/licence/{{driverID}}/{{PageSlug}}?
						orderBy=driver_id&orderType={{sortType}}{{setSortingQueryString}}">
						{% if QueryStringData.orderBy=='driver_id' %}
						<span class="glyphicon glyphicon-arrow-{{className}}"></span>
						{% endif %}	
						Driver Name</a>
						</th>
						<th class="numeric">
						<a href="{{ HOST_URL }}drivers/licence/{{driverID}}/{{PageSlug}}?
						orderBy=license_name&orderType={{sortType}}{{setSortingQueryString}}">
						
						{% if QueryStringData.orderBy=='license_name' %}
						<span class="glyphicon glyphicon-arrow-{{className}}"></span>
						{% endif %}	
						License Name</a>
						</th>
							
						<th class="numeric">
						<a href="{{ HOST_URL }}drivers/licence/{{driverID}}/{{PageSlug}}?
						orderBy=license_no&orderType={{sortType}}{{setSortingQueryString}}">
						
						{% if QueryStringData.orderBy=='license_no' %}
						<span class="glyphicon glyphicon-arrow-{{className}}"></span>
						{% endif %}	
						License No</a>
						</th>
						
							<th class="numeric">
						<a href="{{ HOST_URL }}drivers/licence/{{driverID}}/{{PageSlug}}?
						orderBy=license_issue_date&orderType={{sortType}}{{setSortingQueryString}}">
						{% if QueryStringData.orderBy=='license_issue_date' %}
						<span class="glyphicon glyphicon-arrow-{{className}}"></span>
						{% endif %}	
						Issue date</a>
						</th>
							<th class="numeric">
						<a href="{{ HOST_URL }}drivers/licence/{{driverID}}/{{PageSlug}}?
						orderBy=license_expire_date&orderType={{sortType}}{{setSortingQueryString}}">
						
						{% if QueryStringData.orderBy=='license_expire_date' %}
						<span class="glyphicon glyphicon-arrow-{{className}}"></span>
						{% endif %}	
						Expire date</a>
						</th>
						
						<th class="numeric"><a title="Click for sort results" 
						href="{{ HOST_URL }}drivers/licence/{{driverID}}/{{PageSlug}}?
						orderBy=status&orderType={{sortType}}{{setSortingQueryString}}">
						{% if QueryStringData.orderBy=='status' %}
						<span class="glyphicon glyphicon-arrow-{{className}}"></span>
						{% endif %}						
						Status </th>
						<th class="numeric"><a title="Click for sort results" title="Click for sort results" 
						href="{{ HOST_URL }}drivers/licence/{{driverID}}/{{PageSlug}}?
						orderBy=created&orderType={{sortType}}{{setSortingQueryString}}">
						{% if QueryStringData.orderBy=='created' %}
						<span class="glyphicon glyphicon-arrow-{{className}}"></span>
						{% endif %}						
						Created at</a></th>
						
						<th class="numeric">Action</th>
        			</tr>
        		</thead>
        		<tbody>
				 {% if results|length %}
				  <form method='post' id="statusChangeform" action="/drivers/change-licence-status">	
				  <input type="hidden" name="_csrf" value="{{csrfToken}}">
				  <input type="hidden" name="reirectURL" value="{{redirectOriginalUrl}}">
					{% for item in results %}
					 <tr>					    
						<td data-title="Status Change">
						<input type="checkbox" class="records_id" name="records_id" value="{{item.driver_license_id}}"></td>
						<td data-title="Driver Name">{{item.driver_name}}</td>
						<td data-title="License Name">{{item.license_name}}</td>
        				<td data-title="License No">{{item.license_no}}</td>
						<td data-title="Issue Date">{{ moment(item.license_issue_date).format('DD-MM-YYYY')}}</td>
						<td data-title="Expire Date">{{ moment(item.license_expire_date).format('DD-MM-YYYY')}}</td>
						<td data-title="Status">{{Status[item.status]}}</td>
						<td data-title="Created">{{ moment(item.created).format('DD-MM-YYYY hh:mm a')}}</td>							
						<td  data-title="Action" class="numeric">
                        <a class="btn btn-default" href="{{ HOST_URL }}drivers/licence-edit/{{item.driver_license_id}}/{{item.driver_id}}?redirectURL={{redirctURL}}" 
						   title="Edit item"><em class="fa fa-pencil"></em></a>
                        <a class="btn btn-danger"  href="{{ HOST_URL }}drivers/delete-licence-record/{{item.driver_license_id}}?redirectURL={{redirctURL}}" 
						onclick="return confirmDelete('Are you sure want to delete this item?');" title="Delete item">
						<em class="fa fa-trash"></em></a>
						</td>
        			</tr>
					{% endfor %}
					{% else %} 
					 <tr>
					  <td colspan="15" >Records not found.</td>
					 </tr>
				 	{% endif %}  				
        		</tbody>
        	</table>
        </div>  
		{% if results|length %}
			<div class="row x_top">
                  <div class="col-md-12 ol-sm-12 col-xs-12 button_status">
						  <button type="submit"  title="Click for Active" class="btn btn-success" onclick="return changeConfirmation('Are you sure want to active this records?');" name ="change_active" value="active">Active</button>
                           <button type="submit" title="Click for Deactive"class="btn btn-warning"  onclick="return changeConfirmation('Are you sure want to deactive this records?');"name ="change_deactive" value="deactive">Deactive</button>
						  <!--  <button type="submit" title="Click for Delete" class="btn btn-danger"  onclick="return changeConfirmation('Are you sure want to delete this records?');" name ="change_delete" value="delete">Delete</button>
             -->      </div>
                </div>
		  </form>
	   <div class="center-block text-center">
	   {{ pages |safe}} 
	   </div>
		{% endif %}  	
	    
				</div>
			 </div>
		</div>
	  </div>
	  </div>
        <!-- /page content -->
	</div>	
{% endblock %}


