 <!-- start header file -->
    {% include "elements/header.html" %}
    {% set Status = ['Deactive','Active'] %}
    {% set accountGroupUnder = ['sundry creditors','Sundry Debtors'] %}
    {% set deleteStatus = ['Not delete','Deleted'] %}
	{% set ACCOUNT_TYPE = ['All','Broker','Consignor','Consignee','Driver','Party','pump','Supplier','Transpoter','Truck'] %}
	{% set GST_REGISTRATION_TYPE = ['Composition','Consumer','Regular','UnRegister'] %}
	{% set GST_TYPE = ['GST','IGST','NONE'] %}
	{% set OPENING_BALANCE_METHOD = ['Balance Only','Bill By Bill'] %}
	{% set OPENING_TYPE = ['CR','DR'] %}
	{% set OPENING_BALANCE_TYPE = ['Credit','Debit'] %}
	{% set OWNERTYPE = ['Own','Market'] %}
	{% set RTODOCTYPE = ['Road Tax','Permit','National','Fitness','PUC','Calibration'] %}
 <!-- end header file -->
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
			<!-- start left siderbar (left menu) file -->
		  {% include "elements/left-sidebar.html" %}
			<!-- end left siderbar (left menu) file -->
			<!-- start footer menu content file -->
			{% include "elements/footer-menu.html" %}
			<!-- end footer menu content file -->
          </div>
        </div>
		<!-- start top-navigation file -->
		{% include "elements/top-navigation.html" %}      
		<!-- end top-navigation file -->		
		{% block content %}
		{% endblock %}
<!-- start footer-content file -->
{% include "elements/footer-content.html" %}
<!-- end footer-content file -->
      </div>
    </div>
<!-- start footer file -->
{% include "elements/footer.html" %}
<!-- start footer file -->
       