{% extends "layouts/default.html" %}
{% block content %}
   <!-- page content -->
        <div class="right_col" role="main">
		 <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="row x_title">
				     <div class="col-md-6">
                    <h3>{{PAGETITLE}}</h3>
					</div>
					 <div class="col-md-6">
                    <a href="/accounts/index" class="btn btn-primary align-right">All Accounts<i class="icon-plus icon-white"></i></a>
					</div>
                  </div>
                  <div class="x_content">
					   {% if errordata %}
						{% for item in errordata %}
		            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong>Error ! </strong>{{item.msg}}
                  </div>
				  	{% endfor %}	
				 {% endif %}
                    <br />
                    <form id="add-country" method="post" class="form-horizontal  form-label-left" 
					action="/accounts/add-account/" >
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1"> Account Name <span class="required">*</span></label>
								<input type="text" name="account_name"  value="{{formData.account_name}}" id="account_name" placeholder="Enter Account Name" class="form-control validate[required,minSize[3],ajax[ajaxCheckUniqueName]">
                            </div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1"> Account Code<span class="required">*</span></label>
								<input type="text" name="code"  value="{{formData.code}}" id="code" placeholder="Enter code" class="form-control validate[required]">
                            </div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">A/C Group<span class="required">*</span></label>
								<select name="account_group_id" id="dropdown_account_group_id"  class="listing-select2 form-control col-md-7 col-xs-12 validate[required]">
							<option value="">Select A/C Group</option>
							{% for item in drivers %}
							<option value="{{item.driver_id}}" {% if item.driver_id==formData.driver_id %} selected  {% endif %}>{{item.driver_name}}</option>
							{% endfor %}
							</select>
							</div>
						</div>
				   </div>	
				   <div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1"> A/C Type <span class="required">*</span></label>
								<select name="account_type" id="dropdown_account_type"  class="listing-select2 form-control col-md-7 col-xs-12 validate[required]">
								<option value="">Select A/C Type</option>
								{% for item in ACCOUNT_TYPE %}
								<option value="{{loop.index0}}" {% if loop.index0==formData.account_type %} selected  {% endif %}>{{item}}</option>
								{% endfor %}
							</select>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1"> GST Registration Type <span class="required">*</span></label>
								<select name="gst_registration_type" id="dropdown_gst_registration_type"  class="listing-select2 form-control col-md-7 col-xs-12 validate[required]">
								<option value="">Select GST Registration Type</option>
								{% for item in GST_REGISTRATION_TYPE %}
								<option value="{{loop.index0}}" {% if loop.index0==formData.gst_registration_type %} selected  {% endif %}>{{item}}</option>
								{% endfor %}
							</select>
                            </div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">GST Type<span class="required">*</span></label>
									<select name="gst_type" id="dropdown_gst_type"  class="listing-select2 form-control col-md-7 col-xs-12 validate[required]">
								<option value="">Select GST Type</option>
								{% for item in GST_TYPE %}
								<option value="{{loop.index0}}" {% if loop.index0==formData.gst_type %} selected  {% endif %}>{{item}}</option>
								{% endfor %}
							</select>
							</div>
						</div>
				   </div>	
				     <div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Address1 <span class="required">*</span></label>
								<textarea name="address1" id="address1" class="form-control col-md-7 col-xs-12 validate[required]">{{formData.address1}}</textarea>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Address2 </label>
								<textarea name="address2" id="address2" class="form-control col-md-7 col-xs-12 ">{{formData.address2}}</textarea>
							
                            </div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Address3 </label>
								<textarea name="address3" id="address3" class="form-control col-md-7 col-xs-12 ">{{formData.address3}}</textarea>
							
							</div>
						</div>
				   </div>
				   <div class="loader" id="ajax_loader" style="display:none"></div>
				   <div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1"> Country <span class="required">*</span></label>
								<select name="country_id" id="dropdown_country_id" onchange="getDataList(this,'country_id','states','state_id','state_name','state_id','Select state')" class="listing-select2 form-control col-md-7 col-xs-12 validate[required]">
							<option value="">Select Country</option>
							{% for countryitem in data2 %}
							<option value="{{countryitem.country_id}}" {% if countryitem.country_id==formData.country_id %} selected  {% endif %}>{{countryitem.country_name}}</option>
							{% endfor %}
							</select>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1"> State <span class="required">*</span></label>
								<select name="state_id" id="state_id"  onchange="getDataList(this,'state_id','districts','district_id','district_name','district_id','Select District')" class="listing-select2 form-control col-md-7 col-xs-12 validate[required]">>
							<option value="">Select State</option>
							</select>
                            </div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">District<span class="required">*</span></label>
								<select name="district_id" id="district_id" onchange="getDataList(this,'district_id','cities','city_id','city_name','city_id','Select City')" class="listing-select2 form-control col-md-7 col-xs-12 validate[required]">
							<option value="">Select District</option>
							</select>
							</div>
						</div>
				   </div>	
				    <div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1"> City <span class="required">*</span></label>
								<select name="city_id" id="city_id" class="listing-select2 form-control col-md-7 col-xs-12 validate[required]">
							<option value="">Select City</option>
							</select>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1"> Pincode <span class="required">*</span></label>
								 <input type="number" name="pin_code"  value="{{formData.pin_code}}" id="pin_code" placeholder="Enter Pin Code" class="form-control col-md-7 col-xs-12 validate[required]">
                        
                            </div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Phone<span class="required">*</span></label>
								 <input type="number" name="phone_no"  value="{{formData.phone_no}}" id="phone_no" placeholder="Enter Phone No" class="form-control col-md-7 col-xs-12 validate[required]">
                    
							</div>
						</div>
				   </div>
				         
				  	    <div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1"> Mobile no <span class="required">*</span></label>
								<input type="number" name="mobile_no"  value="{{formData.mobile_no}}" id="mobile_no" placeholder="Enter Mobile No" class="form-control col-md-7 col-xs-12 validate[required]">

							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1"> Email-id <span class="required">*</span></label>
								 <input type="email" id="email" name="email"  value="{{formData.email}}" placeholder="Enter Email" class="form-control col-md-7 col-xs-12 validate[required,custom[email]]">                     
                            </div>
						</div>
						
				   </div>	
				  <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                  <h4><b>Tax Details</b></h4>
                   <div class="clearfix"></div>
                </div>

            </div>
				   	    <div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">GST No</label>
								<input type="text" name="gst_no"  value="{{formData.gst_no}}" id="gst_no" placeholder="Enter GST NO" class="form-control col-md-7 col-xs-12">

							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">PAN NO</label>
								 <input type="text" id="pan_no" name="pan_no"  value="{{formData.pan_no}}" placeholder="Enter PAN NO" class="form-control col-md-7 col-xs-12">                     
                            </div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Adhar NO</label>
								 <input type="text" name="adhar_no"  value="{{formData.adhar_no}}" id="adhar_no" placeholder="Enter Adhar NO" class="form-control col-md-7 col-xs-12">
                    
							</div>
						</div>
				   </div>
				   <div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">TAN NO</label>
								<input type="text" name="tan_no"  value="{{formData.tan_no}}" id="tan_no" placeholder="Enter TAN NO" class="form-control col-md-7 col-xs-12">

							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Remarks</label>
								 <textarea id="remarks" name="remarks" placeholder="Enter Remarks" class="form-control col-md-7 col-xs-12">{{formData.remarks}}</textarea>                     
                            </div>
						</div>
				   </div>
				   <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                  <h4><b>Credit Details</b></h4>
                   <div class="clearfix"></div>
                </div>

            </div>
				 <div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Credit Days<span class="required">*</span></label>
								<input type="number" max="365" name="creditdays"  value="{{formData.creditdays}}" id="creditdays" placeholder="Enter Credit Days" class="form-control col-md-7 col-xs-12 validate[required]">

							</div>
						</div>
						<div class="col-xs-12 col-md-4">
						   <div class="form-group">
						<label for="exampleInputEmail1">Credit Limit<span class="required">*</span></label>
						<input type="number"  name="credit_limit"  value="{{formData.credit_limit}}" id="credit_limit" placeholder="Enter Credit Limit" class="form-control col-md-7 col-xs-12 validate[required]">
</div>
						</div>
				   </div>
				     <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                  <h4><b>Account opening balance</b></h4>
                   <div class="clearfix"></div>
                </div>

            </div>
			  <div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Balance Method </label>
									<select name="balance_method" id="dropdown_balance_method"  class="listing-select2 form-control col-md-7 col-xs-12">
								<option value="">Select Balance Method</option>
								{% for item in OPENING_BALANCE_METHOD %}
								<option value="{{loop.index0}}" {% if loop.index0==formData.balance_method %} selected  {% endif %}>{{item}}</option>
								{% endfor %}
							</select></div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Type </label>
								 <select name="type" id="dropdown_type"  class="listing-select2 form-control col-md-7 col-xs-12 validate[required]">
								<option value="">Select Type</option>
								{% for item in OPENING_TYPE %}
								<option value="{{loop.index0}}" {% if loop.index0==formData.type %} selected  {% endif %}>{{item}}</option>
								{% endfor %}
							</select>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Amount</label>
								 <input type="number" name="amount"  value="{{formData.amount}}" id="adhar_no" placeholder="Enter Amount" class="form-control col-md-7 col-xs-12">
                    
							</div>
						</div>
				   </div>
			<div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Bill no</label>
								<input type="text" name="bill_no"  value="{{formData.bill_no}}" id="bill_no" placeholder="Enter Bill no" class="form-control col-md-7 col-xs-12">

							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Bill date</label>
								 <input type="text" id="bill_date" name="bill_date"  value="{{formData.bill_date}}" placeholder="Enter Bill Date" class="form-control col-md-7 col-xs-12">                     
                            </div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Bill type</label>
								 <input type="text" name="bill_type"  value="{{formData.bill_type}}" id="bill_type" placeholder="Enter Bill type" class="form-control col-md-7 col-xs-12">
							</div>
						</div>
				   </div>
				   <div class="row">
				   <div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Balance type </label>
								 <select name="balance_type" id="balance_type"  class="listing-select2 form-control col-md-7 col-xs-12">
								<option value="">Select Balance type</option>
								{% for item in OPENING_BALANCE_TYPE %}
								<option value="{{loop.index0}}" {% if loop.index0==formData.balance_type %} selected  {% endif %}>{{item}}</option>
								{% endfor %}
							</select>
							</div>
						</div>
						 </div>
						 
						  <div class="row">
								<div class="col-xs-12 col-md-4">
							<div class="form-group">
								<label for="exampleInputEmail1">Status </label>
								<select class="form-control" name="status">
							{% for statusitem in Status %}
							<option value="{{loop.index0}}" {% if loop.index0==1 %} selected  {% endif %}>{{statusitem}}</option>
							{% endfor %}
							</select>
							</div>
						</div>
						 </div>			
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                           <button type="submit" class="btn btn-success">Submit</button>
						  <button class="btn btn-primary" type="reset">Reset</button>
						   <button class="btn btn-primary" type="button" onclick="return confirmCancle('Are you sure want to cancel','{{ HOST_URL }}accounts/index');">Cancel</button>
						 
                         
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
		 </div>           
        </div>
        <!-- /page content -->
		
{% endblock %}